html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='image/favicon.ico')
    title BabyPlan
    link(href='dist/css/bootstrap.min.css', rel='stylesheet')
    script(src='dist/js/ie8-responsive-file-warning.js')
    script(src='dist/js/ie-emulation-modes-warning.js')
    link(href="dist/css/carousel.css" rel="stylesheet")
    style#holderjs-style(type='text/css')
 body
   .navbar-wrapper
     .container
       .navbar.navbar-default.navbar-collapse.navbar-fixed-top(role='navigation')(stye="filter:alpha(opacity=50); -moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5; ")
         .container
           .navbar-header
             button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
               span.sr-only Toggle navigation
               span.icon-bar
               span.icon-bar
               span.icon-bar
             a.navbar-brand(href='/',style="margin-left: 45px;") BabyPlan
           .navbar-collapse.collapse
               ul.nav.navbar-nav
                 li.active
                   a(href='/',style="border-left-width: 40px; border-right-width: 20px;") 主 页
              
                 li.dropdown
                   a.dropdown-toggle(href='#', data-toggle='dropdown',style="margin-left: 40px; margin-right: 30px;")
                     | 下 载
                     span.caret
                   ul.dropdown-menu(role='menu')
                     li
                       a(href='/#') 下载受控端
                     li
                       a(href='/#') 下载移动端
                     li
                       a(href='/#') Something else here
                     li.divider
                     li.dropdown-header Nav header
                     li
                       a(href='/#') Separated link
                     li
                      a(href='/#') One more separated link
                 li.dropdown
                    a.dropdown-toggle(data-toggle="dropdown",href="",style="margin-left: 10px; margin-right: 40px;") 关 于
                       span.caret
                    ul.dropdown-menu(role='menu')
                      li
                       a(href='/#') 公司介绍
                      li
                       a(href='/#') 联系我们
                      li
                       a(href='/#') 服务协议
                   
               ul.nav.navbar-nav.navbar-right
                 li
                   a(href='/home') 登录
                 li 
                   p(style="margin-top: 15px;") |
                 li
                   a(href='/navbar-static-top/',style="margin-right: 55px;") 注 册
                

   #myCarousel.carousel.slide(data-ride='carousel')
     ol.carousel-indicators
         li.active(data-target='#myCarousel', data-slide-to='0')
         li(data-target='#myCarousel', data-slide-to='1')
         li(data-target='#myCarousel', data-slide-to='2')
     .carousel-inner
       .item.active
         img(src='./image/1.jpg', style='width: 1300px; height: 500px;',alt='First slide')
         .container
           .carousel-caption(style="width: 400px; left: 120px;")
             h1 BabyPlan
             p
               | 一个让你放心的儿童时光.
               br
               |一个让你安心的幸福童年.
             p
               a.btn.btn-lg.btn-primary(href='/home', role='button') 了解更多
       .item
         img(src='./image/2.jpg', alt='Second slide',style='width: 1300px; height: 500px;')
         .container
           .carousel-caption(style="width: 400px; left: 120px;")
             h1 一点开始
             p
               | 只需三步，一切尽在掌控中，
               |<br>简单一点，开始了……
             p
               a.btn.btn-lg.btn-primary(href='#', role='button') 下载应用
       .item
           img(src='./image/3.jpg', alt='Third slide',style='width: 1300px; height: 500px;')
           .container
            .carousel-caption
              h1 时 间
              p
                | 时间是最美好的东西，它能带来你想要的一切。
                | <br> 请好好珍惜！
                |<br>  时间会将你的所有都带走。
              p
                a.btn.btn-lg.btn-primary(href='/home', role='button') 我要学习

      a.left.carousel-control(href='./index#myCarousel', role='button', data-slide='prev')
         span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='./index#myCarousel', role='button', data-slide='next')
         span.glyphicon.glyphicon-chevron-right
 
   .container.marketing
     .row
       .col-lg-4
         img.img-circle(src='./image/4.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
         h2 管 理
         p
           | 具备多年管理经验和管理理论，在人才招聘和团队建设上具有专业管理方式。
         p
           a.btn.btn-default(href='#', role='button') 了解更多 »
       .col-lg-4
         img.img-circle(src='./image/5.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
         h2 产 品
         p
           | 在产品设计和技术开发，后期测试和技术支持上均有专业团队和多年工作经验，各负责人曾经均在各公司担任要职。
         p
           a.btn.btn-default(href=' #', role='button') 了解更多 »
       .col-lg-4
         img.img-circle(src='./image/6.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
         h2 运 营
         p
           | 一体化运营流程，简单明了，负责人在潇洒和市场营销上具备8年工作经验。
         p
           a.btn.btn-default(href=' #', role='button') 了解更多 »
     hr.featurette-divider
     .row.featurette
       .col-md-7
         h2.featurette-heading
           span.text-muted BabyPlan.
         p.lead
           | BabyPlan是一款电脑管理软件，面向未成年，<br>
           | 在移动端安装app，或通过浏览器登录，<br>
           | 就可以轻易的实现所监管电脑的网络、游戏、开关机的控制。
       .col-md-5
         img.featurette-image.img-responsive( alt='500x500', src='./image/7.jpg')
     hr.featurette-divider
     .row.featurette
       .col-md-5
         img.featurette-image.img-responsive( alt='500x500', src='./image/8.jpg')
       .col-md-7
         h2.featurette-heading
           | 功能：
           span.text-muted 为你而生.
         p.lead
           | 软件功能主要包括：关机、锁屏、禁止上网、禁止网络游戏、禁止游戏等功能。
     hr.featurette-divider
     .row.featurette
       .col-md-7
         h2.featurette-heading
           | 简单的
           span.text-muted 步骤.
         p.lead
           | 第一步，在你需要管理的电脑上下载，安装。注册一个帐号。<br>
           | 第二步，在移动端下载app，并登录自己刚才注册的帐号。<br>
           | 第三步，登录app，点击按钮进行电脑控制。<br>
       .col-md-5
         img.featurette-image.img-thumbnail( alt='500x500', src='./image/9.jpg')
     hr.featurette-divider
     footer
       p.pull-right
         a(href='./index') 返回顶部
       address
           a(href="mailto:zwl0017@163.com") chunyu.zhao 
        p
         | © 2014 毛毛虫科技
         a(href='#') Privacy
         | ·
         a(href='#') Terms
   script(src='./dist/js/jquery.min.js')
   script(src='./dist/js/bootstrap.min.js')
   script(src='./dist/js/docs.min.js')
#global-zeroclipboard-html-bridge.global-zeroclipboard-container(title='', style='position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;', data-original-title='Copy to clipboard')
  object#global-zeroclipboard-flash-bridge(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', width='100%', height='100%')
    param(name='movie', value='/assets/flash/ZeroClipboard.swf?noCache=1404204257271')
    param(name='allowScriptAccess', value='sameDomain')
    param(name='scale', value='exactfit')
    param(name='loop', value='false')
    param(name='menu', value='false')
    param(name='quality', value='best')
    param(name='bgcolor', value='#ffffff')
    param(name='wmode', value='transparent')
    param(name='flashvars', value='trustedOrigins=v3.bootcss.com%2C%2F%2Fv3.bootcss.com%2Chttp%3A%2F%2Fv3.bootcss.com')
    embed(src='/assets/flash/ZeroClipboard.swf?noCache=1404204257271', loop='false', menu='false', quality='best', bgcolor='#ffffff', width='100%', height='100%', name='global-zeroclipboard-flash-bridge', allowscriptaccess='sameDomain', allowfullscreen='false', type='application/x-shockwave-flash', wmode='transparent', pluginspage='http://www.macromedia.com/go/getflashplayer', flashvars='trustedOrigins=v3.bootcss.com%2C%2F%2Fv3.bootcss.com%2Chttp%3A%2F%2Fv3.bootcss.com', scale='exactfit')
    