html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='image/favicon.ico')
    title BabyPlan
    link(href='dist/css/bootstrap.min.css', rel='stylesheet')
    script(src='dist/js/ie8-responsive-file-warning.js')
    script(src='dist/js/ie-emulation-modes-warning.js')
    link(href="dist/css/carousel.css" rel="stylesheet")
    style#holderjs-style(type='text/css')
 body
   .navbar-wrapper
     .container
       .navbar.navbar-default.navbar-collapse.navbar-fixed-top(role='navigation')(stye="filter:alpha(opacity=50); -moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5; ")
         .container
           .navbar-header
             button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
               span.sr-only Toggle navigation
               span.icon-bar
               span.icon-bar
               span.icon-bar
             a.navbar-brand(href='/') BabyPlan
           .navbar-collapse.collapse
               ul.nav.navbar-nav
                 li.active
                   a(href='/home') 主页
                 li
                   a(href='/#about') 下载
                 li
                   a(href='./') 内容
                 li.dropdown
                   a.dropdown-toggle(href='#', data-toggle='dropdown')
                     | 关于
                     span.caret
                   ul.dropdown-menu(role='menu')
                     li
                       a(href='/#') Action
                     li
                       a(href='/#') Another action
                     li
                       a(href='/#') Something else here
                     li.divider
                     li.dropdown-header Nav header
                     li
                       a(href='/#') Separated link
                     li
                      a(href='/#') One more separated link
               ul.nav.navbar-nav.navbar-right
                 li
                   a(href='../navbar/') Default
                 li
                   a(href='../navbar-static-top/') Static top
                 li.active
                   a(href='./') Fixed top

   #myCarousel.carousel.slide(data-ride='carousel')
     ol.carousel-indicators
         li.active(data-target='#myCarousel', data-slide-to='0')
         li(data-target='#myCarousel', data-slide-to='1')
         li(data-target='#myCarousel', data-slide-to='2')
     .carousel-inner
       .item.active
         img(src='./image/1.jpg', style='width: 1300px; height: 500px;',alt='First slide')
         .container
           .carousel-caption
             h1 学习的诱惑.
             p
               | 请放下你高傲的心态，虚心面对这美好的时间，将自己打造成栋梁。
               code 我们还很年轻，还很简单。
               | 我们活着，可以让世界更美好.
             p
               a.btn.btn-lg.btn-primary(href='/home', role='button') 我要学习
       .item
         img(src='./image/2.jpg', alt='Second slide',style='width: 1300px; height: 500px;')
         .container
           .carousel-caption(style="width: 400px; left: 120px;")
             h1 一点开始
             p
               | 如果说，数据是一起事实都表象，那你就一点开始，只需一点，开始了……
             p
               a.btn.btn-lg.btn-primary(href='#', role='button') 下载应用
       .item
           img(src='./image/3.jpg', alt='Third slide',style='width: 1300px; height: 500px;')
           .container
            .carousel-caption
              h1 学习的诱惑.
              p
                | 请放下你高傲的心态，虚心面对这美好的时间，将自己打造成栋梁。
                code 我们还很年轻，还很简单。
                | 我们活着，可以让世界更美好.
              p
                a.btn.btn-lg.btn-primary(href='/home', role='button') 我要学习

      a.left.carousel-control(href='./index#myCarousel', role='button', data-slide='prev')
         span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='./index#myCarousel', role='button', data-slide='next')
         span.glyphicon.glyphicon-chevron-right
 
   .container.marketing
     .row
       .col-lg-4
         img.img-circle(src='./image/4.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
         h2 Heading
         p
           | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
         p
           a.btn.btn-default(href='#', role='button') View details »
       .col-lg-4
         img.img-circle(src='./image/5.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
         h2 Heading
         p
           | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
         p
           a.btn.btn-default(href=' #', role='button') View details »
       .col-lg-4
         img.img-circle(src='./image/6.jpg', alt='Generic placeholder image', style='width: 140px; height: 140px;')
         h2 Heading
         p
           | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
         p
           a.btn.btn-default(href=' #', role='button') View details »
     hr.featurette-divider
     .row.featurette
       .col-md-7
         h2.featurette-heading
           | First featurette heading.
           span.text-muted It'll blow your mind.
         p.lead
           | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
       .col-md-5
         img.featurette-image.img-responsive( alt='500x500', src='./image/7.jpg')
     hr.featurette-divider
     .row.featurette
       .col-md-5
         img.featurette-image.img-responsive( alt='500x500', src='./image/8.jpg')
       .col-md-7
         h2.featurette-heading
           | Oh yeah, it's that good.
           span.text-muted See for yourself.
         p.lead
           | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
     hr.featurette-divider
     .row.featurette
       .col-md-7
         h2.featurette-heading
           | And lastly, this one.
           span.text-muted Checkmate.
         p.lead
           | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
       .col-md-5
         img.featurette-image.img-thumbnail( alt='500x500', src='./image/9.jpg')
     hr.featurette-divider
     footer
       p.pull-right
         a(href='./index') 返回顶部
       address
           a(href="mailto:zwl0017@163.com") chunyu.zhao 
        p
         | © 2014 毛毛虫科技
         a(href='#') Privacy
         | ·
         a(href='#') Terms
   script(src='./dist/js/jquery.min.js')
   script(src='./dist/js/bootstrap.min.js')
   script(src='./dist/js/docs.min.js')
#global-zeroclipboard-html-bridge.global-zeroclipboard-container(title='', style='position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;', data-original-title='Copy to clipboard')
  object#global-zeroclipboard-flash-bridge(classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000', width='100%', height='100%')
    param(name='movie', value='/assets/flash/ZeroClipboard.swf?noCache=1404204257271')
    param(name='allowScriptAccess', value='sameDomain')
    param(name='scale', value='exactfit')
    param(name='loop', value='false')
    param(name='menu', value='false')
    param(name='quality', value='best')
    param(name='bgcolor', value='#ffffff')
    param(name='wmode', value='transparent')
    param(name='flashvars', value='trustedOrigins=v3.bootcss.com%2C%2F%2Fv3.bootcss.com%2Chttp%3A%2F%2Fv3.bootcss.com')
    embed(src='/assets/flash/ZeroClipboard.swf?noCache=1404204257271', loop='false', menu='false', quality='best', bgcolor='#ffffff', width='100%', height='100%', name='global-zeroclipboard-flash-bridge', allowscriptaccess='sameDomain', allowfullscreen='false', type='application/x-shockwave-flash', wmode='transparent', pluginspage='http://www.macromedia.com/go/getflashplayer', flashvars='trustedOrigins=v3.bootcss.com%2C%2F%2Fv3.bootcss.com%2Chttp%3A%2F%2Fv3.bootcss.com', scale='exactfit')
    