doctype html

head(lang="zh-cn")
     mate( charset="utf-8" )
     meta(name="viewport",content="width=device-width, initial-scale=1.0")
     title 'BabyPlan'
     link(href='stylesheets/style.css', type='text/css', rel="stylesheet")
     link(href='dist/css/bootstrap.css', type='text/css', rel="stylesheet")
     link(href='dist/css/sticky-footer-navbar.css',type='text/css', rel="stylesheet")
     link(href='dist/css/bootstrap-combined.min.css',type='text/css', rel="stylesheet")
     script(type='text/javascript',src="dist/js/jquery.min.js")
     script(type='text/javascript',src="dist/js/bootstrap.min.js")
     script(type='text/javascript',src="dist/js/bootstrap-switch.js")
     block head
   body
    div#wrap
        div.navbar.navbar-default.navbar-fixed-top(role="navigation")
            div.container
                div.navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")                           
                    a.navbar-brand(href="/index") BabyPlan
                div.collapse.navbar-collapse
                    ui.nav.navbar-nav
                       li: a(href="/home") 首页
                       li: a(href="/") 设置
                       li.dropdown: a.dropdown-toggle(data-toggle="dropdown",href="") 帮 助
                                      b.caret
                                      ul.dropdown-menu
                                         li: a(href="/log/help.txt",target="_blank") 使用说明                                        
                                         li: a(href="/log/about.txt",target="_blank") 关于我们
                    
                    ui.nav.navbar-nav.navbar-right
                       li: form.form-inline(role='form')
                                     .form-group
                                       input#exampleInputEmail2.form-control(type='email',style="height: 30px;", placeholder='用户名')
                                     .form-group
                                       input#exampleInputPassword2.form-control(type='password',style="height: 30px;", placeholder='密码')
                                     a(href='/login') 登录
                       li: a(href='/logout') #{islogin}
                       li: a #{msg}
        block content

    div#footer
        div.container
            address
                  a(href="mailto:zwl0017@163.com") chunyu.zhao 
                  p 二〇一四年五月二十六日 
     

    block extjs